extends layout

block loadHeadFiles
	link(rel="stylesheet" href="css/game_page.css")

	script(src="js/vendor/keyboard.min.js")
	script(src="js/vendor/three.min.js")
	script(src="js/assets/assetcache.js")
	script(src="js/assets/assetloader.js")
	
	script(src="js/game/game.js")

block content
	center(id="loading-info-center")
		div(id="loading-info")
			p Loading...
	//div(id="webgl-container")
	div(class="windows-container")
		div(class="info-window")
			div(class="close-window-button")
			p Test text 1
		div(class="info-window")
			div(class="close-window-button")
			p Test text 2 
		div(class="info-window")
			div(class="close-window-button")
			p Test text 3
		div(class="info-window")
			div(class="close-window-button")
			p THE GAME BOARD
			div(id="webgl-container")